p{
font-family: Brush Script MT, Brush Script Std, cursive;
  border-style: outset;
  font-size: 48px;
  color: black;
  text-align: center;
  padding: .25em;
}

a:link{
  color: grey;
  font-family: "american typewriter", typewriter, serif;
  font-size:30px;
}
a:hover{
  color: black;
  font-weight: bold;
}
